{
  "swagger": "2.0",
  "info": {
    "title": "Lativ-Project apis",
    "version": "1.0.0",
    "description": ""
  },
  "host": "lativ-database.c9y6fmfie00t.ap-northeast-1.rds.amazonaws.com:3000",
  "basePath": "/",
  "schemes": [
    "http",
    "https"
  ],
  "paths": {
    "/test": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/users/signup": {
      "post": {
        "tags": [
          "User"
        ],
        "description": "",
        "parameters": [
          {
            "name": "obj",
            "in": "body",
            "description": "註冊",
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "example": "Blake Well"
                },
                "email": {
                  "type": "string",
                  "example": "test1@test.com"
                },
                "password": {
                  "type": "string",
                  "example": "123"
                },
                "checkPassword": {
                  "type": "string",
                  "example": "123"
                }
              },
              "required": [
                "name",
                "email",
                "password",
                "checkPassword"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/users/signin": {
      "post": {
        "tags": [
          "User"
        ],
        "description": "",
        "parameters": [
          {
            "name": "obj",
            "in": "body",
            "description": "登入",
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "type": "string",
                  "example": "test1@test.com"
                },
                "password": {
                  "type": "string",
                  "example": "123"
                }
              },
              "required": [
                "email",
                "password"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/index": {
      "get": {
        "tags": [
          "Index"
        ],
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/auth/facebook": {
      "get": {
        "tags": [
          "Facebook"
        ],
        "description": "",
        "parameters": [],
        "responses": {}
      }
    },
    "/auth/facebook/callback": {
      "get": {
        "tags": [
          "Facebook"
        ],
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    }
  }
}